.hero__inner_activ {

   margin-bottom: 140px;
}

.hero__inner__title {
   margin: 0;
   font-weight: 600;
   font-size: 46px;
   line-height: 63px;
   color: #424242;
   margin-bottom: 50px;
   margin-top: 60px;
} 

.hero__inner__img{ 
   width: 100%; 
   height: 326px;
   text-align: center;
}

.hero__inner__blog__list {
   position: relative;
   margin-top: 45px;
   list-style: none;
   padding-left: 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 
   background-image: url("../images/bag-img-hero2.png"); 
   background-repeat: no-repeat; 
   background-size: 100% 261px; 
   background-position: calc(50%) calc(50% + -110px);
  
}

.hero__inner__blog__item {

   width: 100%;
   max-width: 340px;
   margin: 45px 20px;

   &:nth-child(3) {

      margin-right: 10px;
   }

   &:nth-child(5) {

      margin-right: 10px;
   }

   &:nth-child(4) {

      margin-left: 400px;
   }
}

.hero__inner__blog__title {
   margin: 0;
   font-weight: 600;
   font-size: 36px;
   line-height: 49px;
   text-align: center;
   color: #424242;
   margin-bottom: 20px;
}

.hero__inner__blog__subtitle {

   margin-bottom: 70px; 
   display: flex ;
   justify-content: space-between;
}

.hero__inner__blog__text {

   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   text-align: center;
   color: #424242;
}

.hero__inner__blog__link {
   background-color: #AEA38B;
   display: inline-block;
   text-decoration: none;
   width: 360px;
   height: 100px;
   margin-right: 40px;
   padding: 25px 20px;
   text-align: center;
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #FFFFFF;
   vertical-align: middle;

   &:nth-child(2) {

      padding: 36px 20px;
   }

   &:nth-child(3) {

      margin-right: 0;
   }

}

.hero__inner__blocks {

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hero__inner__blocks__img:nth-child(1) {

   margin-right: 30px;
}

.hero__inner__blocks__text {

   width: 540px;
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #424242;
} 
 



@media only screen and (max-width:565px){ 
     
   .hero__inner_activ {  
      
      padding: 0 20px;
      margin-bottom: 30px;
   }
   .hero__inner__title { 
      width: 100%; 
      margin: 0;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      color: #424242;
      margin-bottom: 50px;
      margin-top: 60px;
   } 
   .hero__inner__blog__list { 
      display: flex; 
      flex-direction: column; 
      margin-top: 45px;
      list-style: none;
      padding-left: 20px;
      background-image: url("../images/bgg-img-colmun.png"); 
      background-repeat: no-repeat; 
      background-size: 12px 441px; 
      background-position: calc(50% + -235px) calc(50% + -40px);
     
   } 
   .hero__inner__blocks__img:nth-child(1) {

      margin-right: 0px;
   } 

   .hero__inner__blog__item { 
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      margin:  0 auto; 
      width: 100%;
      max-width: 560px;
      margin-bottom: 30px;
      
   
      
   &:nth-child(3) {

      margin-right: 0px;
   }

   &:nth-child(5) {

      margin-right: 0px;
   }

   &:nth-child(4) {

      margin-left: 0px;
   }
   
      
   }  
   .hero__inner__blog__title {
      margin: 0;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      text-align: start;
      
   }
   .hero__inner__blog__text {
      
      width: 100%; 
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #424242; 
      text-align: start; 
      margin-bottom: 0px;
   } 
   .hero__inner__blog__subtitle {

      margin-bottom: 40px; 
      display: flex ;
      flex-direction: column;
   } 

   .hero__inner__blog__link {
      width: 100%;
      margin-right: 0; 
      margin-bottom: 20px;
      padding: 36px 97px;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
     
   
      &:nth-child(2) {
   
         padding: 36px 20px;
      }
   
      &:nth-child(3) {
   
         margin-right: 0;
      }
   
   } 

   .hero__inner__blocks__text{ 

      width: 100%; 
      max-width: 560px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
   } 

   .hero__inner__blocks{ 

      display: flex;   
      flex-direction: column;
   }
   .hero__inner__blocks__content{ 
       width: 100%;
      display: flex;  
      justify-content: space-between;  
    
   }
   .hero__inner__blocks__img{ 
   width: 230px; 
   height: 280px;
  
   } 
   .hero__inner__blocks__img:nth-child(1) {

      margin-right: 0px;
   }
}